.container.addsite .main-content .form-group .hint {
  margin-top: 5px;
  font-size: 12px; }

.container.addsite .main-content .form-group .check-btns .chk-span {
  margin-right: 10px; }

/*add location*/
.container.addlocation .main-content .form-group .check-btns .chk-span {
  margin-right: 10px; }

/*add location*/
