@font-face {
  font-family: 'GothamHTF-XLight';
  src: url('../fonts/GothamHTFXLight.eot');
  src: url('../fonts/GothamHTFXLight.woff') format('woff'),
       url('../fonts/GothamHTFXLight.ttf') format('truetype'),
       url('../fonts/GothamHTFXLight.svg#GothamHTF-XLight') format('svg'),
       url('../fonts/GothamHTFXLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-UltraItalic';
  src: url('../fonts/GothamHTFUltraItalic.eot');
  src: url('../fonts/GothamHTFUltraItalic.woff') format('woff'),
       url('../fonts/GothamHTFUltraItalic.ttf') format('truetype'),
       url('../fonts/GothamHTFUltraItalic.svg#GothamHTF-UltraItalic') format('svg'),
       url('../fonts/GothamHTFUltraItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-LightItalic';
  src: url('../fonts/GothamHTFLightItalic.eot');
  src: url('../fonts/GothamHTFLightItalic.woff') format('woff'),
       url('../fonts/GothamHTFLightItalic.ttf') format('truetype'),
       url('../fonts/GothamHTFLightItalic.svg#GothamHTF-LightItalic') format('svg'),
       url('../fonts/GothamHTFLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Ultra';
  src: url('../fonts/GothamHTFUltra.eot');
  src: url('../fonts/GothamHTFUltra.woff') format('woff'),
       url('../fonts/GothamHTFUltra.ttf') format('truetype'),
       url('../fonts/GothamHTFUltra.svg#GothamHTF-Ultra') format('svg'),
       url('../fonts/GothamHTFUltra.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-ThinItalic';
  src: url('../fonts/GothamHTFThinItalic.eot');
  src: url('../fonts/GothamHTFThinItalic.woff') format('woff'),
       url('../fonts/GothamHTFThinItalic.ttf') format('truetype'),
       url('../fonts/GothamHTFThinItalic.svg#GothamHTF-ThinItalic') format('svg'),
       url('../fonts/GothamHTFThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-LightCondensed';
  src: url('../fonts/GothamHTFLightCondensed.eot');
  src: url('../fonts/GothamHTFLightCondensed.woff') format('woff'),
       url('../fonts/GothamHTFLightCondensed.ttf') format('truetype'),
       url('../fonts/GothamHTFLightCondensed.svg#GothamHTF-LightCondensed') format('svg'),
       url('../fonts/GothamHTFLightCondensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Thin';
  src: url('../fonts/GothamHTFThin.eot');
  src: url('../fonts/GothamHTFThin.woff') format('woff'),
       url('../fonts/GothamHTFThin.ttf') format('truetype'),
       url('../fonts/GothamHTFThin.svg#GothamHTF-Thin') format('svg'),
       url('../fonts/GothamHTFThin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-MediumCondensed';
  src: url('../fonts/GothamHTFMediumCondensed.eot');
  src: url('../fonts/GothamHTFMediumCondensed.woff') format('woff'),
       url('../fonts/GothamHTFMediumCondensed.ttf') format('truetype'),
       url('../fonts/GothamHTFMediumCondensed.svg#GothamHTF-MediumCondensed') format('svg'),
       url('../fonts/GothamHTFMediumCondensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Medium';
  src: url('../fonts/GothamHTFMedium.eot');
  src: url('../fonts/GothamHTFMedium.woff') format('woff'),
       url('../fonts/GothamHTFMedium.ttf') format('truetype'),
       url('../fonts/GothamHTFMedium.svg#GothamHTF-Medium') format('svg'),
       url('../fonts/GothamHTFMedium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Light';
  src: url('../fonts/GothamHTFLight.eot');
  src: url('../fonts/GothamHTFLight.woff') format('woff'),
       url('../fonts/GothamHTFLight.ttf') format('truetype'),
       url('../fonts/GothamHTFLight.svg#GothamHTF-Light') format('svg'),
       url('../fonts/GothamHTFLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-BookItalic';
  src: url('../fonts/GothamHTFBookItalic.eot');
  src: url('../fonts/GothamHTFBookItalic.woff2') format('woff2'),
       url('../fonts/GothamHTFBookItalic.woff') format('woff'),
       url('../fonts/GothamHTFBookItalic.ttf') format('truetype'),
       url('../fonts/GothamHTFBookItalic.svg#GothamHTF-BookItalic') format('svg'),
       url('../fonts/GothamHTFBookItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-BookCondensed';
  src: url('../fonts/GothamHTFBookCondensed.eot');
  src: url('../fonts/GothamHTFBookCondensed.woff2') format('woff2'),
       url('../fonts/GothamHTFBookCondensed.woff') format('woff'),
       url('../fonts/GothamHTFBookCondensed.ttf') format('truetype'),
       url('../fonts/GothamHTFBookCondensed.svg#GothamHTF-BookCondensed') format('svg'),
       url('../fonts/GothamHTFBookCondensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Book';
  src: url('../fonts/GothamHTFBook.eot');
  src: url('../fonts/GothamHTFBook.woff') format('woff'),
       url('../fonts/GothamHTFBook.ttf') format('truetype'),
       url('../fonts/GothamHTFBook.svg#GothamHTF-Book') format('svg'),
       url('../fonts/GothamHTFBook.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-BoldItalic';
  src: url('../fonts/GothamHTF-BoldItalic.eot');
  src: url('../fonts/GothamHTF-BoldItalic.woff2') format('woff2'),
       url('../fonts/GothamHTF-BoldItalic.woff') format('woff'),
       url('../fonts/GothamHTF-BoldItalic.ttf') format('truetype'),
       url('../fonts/GothamHTF-BoldItalic.svg#GothamHTF-BoldItalic') format('svg'),
       url('../fonts/GothamHTF-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-BoldCondensed';
  src: url('../fonts/GothamHTF-BoldCondensed.eot');
  src: url('../fonts/GothamHTF-BoldCondensed.woff2') format('woff2'),
       url('../fonts/GothamHTF-BoldCondensed.woff') format('woff'),
       url('../fonts/GothamHTF-BoldCondensed.ttf') format('truetype'),
       url('../fonts/GothamHTF-BoldCondensed.svg#GothamHTF-BoldCondensed') format('svg'),
       url('../fonts/GothamHTF-BoldCondensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Bold';
  src: url('../fonts/GothamHTFBold.eot');
  src: url('../fonts/GothamHTFBold.woff') format('woff'),
       url('../fonts/GothamHTFBold.ttf') format('truetype'),
       url('../fonts/GothamHTFBold.svg#GothamHTF-Bold') format('svg'),
       url('../fonts/GothamHTFBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-BlackItalic';
  src: url('../fonts/GothamHTF-BlackItalic.eot');
  src: url('../fonts/GothamHTF-BlackItalic.woff2') format('woff2'),
       url('../fonts/GothamHTF-BlackItalic.woff') format('woff'),
       url('../fonts/GothamHTF-BlackItalic.ttf') format('truetype'),
       url('../fonts/GothamHTF-BlackItalic.svg#GothamHTF-BlackItalic') format('svg'),
       url('../fonts/GothamHTF-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF-Black';
  src: url('../fonts/GothamHTFBlack.eot');
  src: url('../fonts/GothamHTFBlack.woff2') format('woff2'),
       url('../fonts/GothamHTFBlack.woff') format('woff'),
       url('../fonts/GothamHTFBlack.ttf') format('truetype'),
       url('../fonts/GothamHTFBlack.svg#GothamHTF-Black') format('svg'),
       url('../fonts/GothamHTFBlack.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
